version: '3.7'

services:

  ipfs:
    image: ipfs/go-ipfs:v0.6.0
    ports:
      - 4001:4001
      - 5001:5001
    command: ["daemon", "--migrate=true", "--enable-pubsub-experiment"]

  powergate:
    image: textile/powergate:v0.6.0-rc4
    ports:
      - 8889:8889
      - 8888:8888
      - 6060:6060
      - 5002:5002
      - 6002:6002
      - 7000:7000
    depends_on:
      - ipfs
      - lotus
    environment:
      - POWD_DEVNET=true
      - POWD_LOTUSHOST=/dns4/lotus/tcp/7777
      - POWD_IPFSAPIADDR=/dns4/ipfs/tcp/5001
    restart: unless-stopped

  lotus:
    image: textile/lotus-devnet:sha-ce1d788
    ports:
      - 7777:7777
    environment:
      - TEXLOTUSDEVNET_SPEED=500
      - TEXLOTUSDEVNET_BIGSECTORS=${BIGSECTORS}
      - TEXLOTUSDEVNET_IPFSADDR=/dns4/ipfs/tcp/5001
